
<div id="modals">
    <ul class="reminders dialog-wrapper"></ul>
    <div class="dialog-wrapper">
        <div id="settings" class="dialog preferences shown">
            <div class="content">
                <div class="settings-content-inner-wrapper">
                    <div class="settings-content-inner account">
                        <div class="settings">
                            <!-- Picture -->
                            <div class="separator">
                                <div class="cols">
                                    <div class="col-32">
                                        <div class="avatar-frame">
                                            <div class="avatar large hover choose">
                                                <span class="icon options" style="display: block;"></span>
                                                <img src="https://a.wunderlist.com/api/v1/avatar?user_id=20661012&amp;size=128&amp;timestamp=1457521132">
                                                <div class="drop-message">
                                                    <span><text rel="settings_account_drop_image">Перетащите фото сюда</text></span>
                                                </div>
                                                <div class="message error hidden">
                                                    <span><text rel="file_uploaded_failed">Не удалось добавить файл. Попробуйте еще раз.</text></span>
                                                </div>
                                                <div class="state loading spinner">
                                                    <span class="dark"></span>
                                                </div>
                                            </div>
                                            <div class="avatar-upload">
                                                <div class="drop-zone"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-68">
                                        <div class="pro-status-wrapper">
                                            <div tabindex="0" class="pro-status pro-section-style tabStart">
                                                <h3>
                                                    <text rel="settings_account_header_account_$" data="$settings_account_header_free">Учетная запись <token class="token_0" title="Бесплатно">Бесплатно</token></text>
                                                </h3>
                                                <p>
                                                    <text rel="settings_account_pro_description">Вы можете назначать задачи коллегам и добавлять к ним файлы. Совместная работа еще никогда не была настолько простой!</text>
                                                </p>
                                                <a class="button big left green go-pro" data-path="preferences/account/pro" data-key-aria-label="settings_upgrade_to_pro_label" data-aria-label="$benefit_name" tabindex="0" aria-label="Перейти на Wunderlist Pro"> <strong><text rel="settings_upgrade_to_pro_label" data="$benefit_name">Перейти на <token class="token_0" title="Wunderlist Pro">Wunderlist Pro</token></text></strong> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="separator basic-account-settings">
                                <!-- Full Name -->
                                <div class="cols">
                                    <div class="col-32 text-right">
                                        <text rel="label_name">Имя</text>
                                    </div>
                                    <div class="col-68">
                                        <input type="text" id="edit-full-name" data-key-aria-label="label_name" data-key-placeholder="label_name" value="Buniak Maxim" initial-value="" tabindex="0" placeholder="Имя" aria-label="Имя">
                                    </div>
                                </div> <!-- Email -->
                                <div class="cols">
                                    <div class="col-32 text-right">
                                        <text rel="label_email">Электронная почта</text>
                                    </div>
                                    <div class="col-40">
                                        <input type="text" id="edit-email" data-key-aria-label="label_email" data-key-placeholder="label_email" value="bunjak.maxim@gmail.com" initial-value="" disabled="" tabindex="0" placeholder="Электронная почта" aria-label="Электронная почта">
                                    </div>
                                    <div class="col-28">
                                        <button id="change-email" class="full" data-key-aria-label="settings_account_change_email" tabindex="0" aria-label="Изменить адрес электронной почты"> <text rel="settings_account_change_email">Изменить адрес электронной почты</text> </button>
                                    </div>
                                </div>
                                <!-- Change Email -->
                                <div class="cols change-email-buttons">
                                    <div class="col-32 text-right"></div>
                                    <div class="col-40">
                                        <div class="cols email-error error-message">
                                            <div class="col-100">
                                                <text rel="api_error_incorrect_password">Неверный пароль.</text>
                                            </div>
                                        </div>
                                        <div class="cols">
                                            <div class="col-50">
                                                <button class="full" id="cancel-email" data-key-aria-label="button_cancel" tabindex="0" aria-label="Отмена"> <text rel="button_cancel">Отмена</text> </button>
                                            </div>
                                            <div class="col-50">
                                                <button class="full blue disabled" id="save-email" disabled="" data-key-aria-label="button_save" tabindex="0" aria-label="Сохранить"> <text rel="button_save">Сохранить</text> </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-28"></div>
                                </div>  <!-- Additional Emails -->
                                <div class="cols">
                                    <div class="col-32 text-right"></div>
                                    <div class="col-68">
                                        <p class="settings-account-manage-emails">
                                            <a href="/account/emails" target="_blank"><text rel="settings_account_manage_emails">Добавление и изменение адресов электронной почты</text></a>
                                        </p>
                                    </div>
                                </div>
                                <!-- Change Password -->
                                <div class="cols show-password-buttons">
                                    <div class="cols change-password-buttons">
                                        <div class="col-40">
                                            <div class="col-32 text-right">
                                                <text rel="label_password">Пароль</text>
                                            </div>
                                            <input type="password" class="old-password" data-key-placeholder="settings_account_current_password" data-key-aria-label="settings_account_current_password" tabindex="0" placeholder="Текущий пароль" aria-label="Текущий пароль">

                                            <div class="cols">
                                                <div class="col-100">
                                                    <input type="password" class="new-password" data-key-placeholder="settings_account_new_password" data-key-aria-label="settings_account_new_password" tabindex="0" placeholder="Новый пароль" aria-label="Новый пароль">
                                                </div>
                                            </div>
                                            <div class="cols change-password-error error-message">
                                                <div class="col-100">
                                                    <text rel="settings_account_change_password_error">При попытке изменить пароль произошла ошибка. Попробуйте еще раз.</text>
                                                </div>
                                            </div>
                                            <div class="cols">
                                                <div class="col-50">
                                                    <button class="full" id="cancel-password" data-key-aria-label="button_cancel" tabindex="0" aria-label="Отмена"> <text rel="button_cancel">Отмена</text> </button>
                                                </div>
                                                <div class="col-50">
                                                    <button class="full blue" id="save-password" data-key-aria-label="button_save" tabindex="0" aria-label="Сохранить"> <text rel="button_save">Сохранить</text> </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="separator noline delete-form" tabindex="0">
                                <div class="cols delete-account-heading">
                                    <div class="col-32"></div>
                                    <div class="col-68">
                                        <h3>
                                            <text rel="settings_account_delete_account_confirm">Вы действительно хотите удалить учетную запись?</text>
                                        </h3>
                                        <p>
                                            <text rel="settings_account_delete_account_confirm_text">При удалении вы потеряете все свои списки и задачи и не сможете их восстановить.</text>
                                        </p>
                                    </div>
                                </div>
                                <div class="cols delete-account-password">
                                    <div class="col-32 text-right">
                                        <text rel="settings_account_current_password">Текущий пароль</text>
                                    </div>
                                    <div class="col-68">
                                        <input type="password" class="delete-password" data-key-aria-label="settings_account_current_password" tabindex="0" aria-label="Текущий пароль">
                                    </div>
                                </div>
                                <div class="cols delete-account-confirm">
                                    <div class="col-32 text-right">
                                        <text rel="settings_account_delete_confirmation">Введите «Подтверждаю»</text>
                                    </div>
                                    <div class="col-68">
                                        <input type="text" class="delete-confirm" data-key-aria-label="settings_account_delete_confirmation" tabindex="0" aria-label="Введите «Подтверждаю»">
                                    </div>
                                </div>
                                <div class="cols delete-password-error error-message">
                                    <div class="col-100 text-right">
                                        <text rel="api_error_incorrect_password">Неверный пароль.</text>
                                    </div>
                                </div>
                                <div class="cols text-right">
                                    <div class="col-32"></div>
                                    <div class="col-34">
                                        <button class="full" id="cancel-delete-account" data-key-aria-label="button_cancel" tabindex="0" aria-label="Отмена"> <text rel="button_cancel">Отмена</text> </button>
                                    </div>
                                    <div class="col-34">
                                        <button class="full red disabled" id="delete-account" disabled="" data-key-aria-label="button_delete" tabindex="0" aria-label="Удалить"><span></span> <text rel="button_delete">Удалить</text> </button>
                                    </div>
                                </div>
                            </div>
                            <div class="separator show-delete-wrapper">
                                <div class="cols">
                                    <div class="col-32"></div>
                                    <div class="col-40">
                                        <button class="red show-delete tabEnd" data-key-aria-label="settings_account_delete_account" tabindex="0" aria-label="Удалить учетную запись"> <text rel="settings_account_delete_account">Удалить учетную запись</text> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pro-subscription hidden">
                            <div class="page-buy">
                                <!-- Go premium -->
                                <div class="separator">
                                    <div class="cols top">
                                        <div class="col-32">
                                            <div class="avatar-frame">
                                                <div class="avatar large">
                                                    <span class="icon pro"></span>
                                                    <img src="https://a.wunderlist.com/api/v1/avatar?user_id=20661012&amp;size=128&amp;timestamp=1457521132">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator center">
                                    <a class="button nofloat cancel-benefits tabEnd" data-path="preferences/account" role="button" data-key-aria-label="social_sharing_button_later" tabindex="0" aria-label="Позже"><text rel="social_sharing_button_later">Позже</text></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-footer">
                <div class="cols">
                    <div class="col-40"></div>
                    <div class="col-40"></div>
                    <div class="col-20">
                        <button class="full blue close"><text rel="button_done">Готово</text></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>